<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
    <!-- Groups -->
    <TKUtils.General>General</TKUtils.General>
    <TKUtils.General.Emojis>Emojis</TKUtils.General.Emojis>
    <TKUtils.General.Viewer>Viewer Pawn Tweaks</TKUtils.General.Viewer>
    
    <TKUtils.Data>Data</TKUtils.Data>
    <TKUtils.Data.LazyProcess>Item Store Processing</TKUtils.Data.LazyProcess>
    <TKUtils.Data.Files>Toolkit Data</TKUtils.Data.Files>
    
    <TKUtils.CommandTweaks>Command Tweaks</TKUtils.CommandTweaks>
    <TKUtils.CommandTweaks.Balance>Balance Command</TKUtils.CommandTweaks.Balance>
    <TKUtils.CommandTweaks.Handler>Commands Handler</TKUtils.CommandTweaks.Handler>
    <TKUtils.CommandTweaks.InstalledMods>Installed Mods Command</TKUtils.CommandTweaks.InstalledMods>
    <TKUtils.CommandTweaks.BuyItem>Item Purchases</TKUtils.CommandTweaks.BuyItem>
    <TKUtils.CommandTweaks.Lookup>Lookup Command</TKUtils.CommandTweaks.Lookup>
    <TKUtils.CommandTweaks.BuyPawn>Pawn Purchases</TKUtils.CommandTweaks.BuyPawn>
    
    <TKUtils.PawnCommands>Pawn Commands</TKUtils.PawnCommands>
    <TKUtils.PawnCommands.Abandon>Leave Command</TKUtils.PawnCommands.Abandon>
    <TKUtils.PawnCommands.Gear>Pawn Gear Command</TKUtils.PawnCommands.Gear>
    <TKUtils.PawnCommands.Health>Pawn Health Command</TKUtils.PawnCommands.Health>
    <TKUtils.PawnCommands.Relations>Pawn Relations Command</TKUtils.PawnCommands.Relations>
    <TKUtils.PawnCommands.Work>Pawn Work Command</TKUtils.PawnCommands.Work>
    
    <TKUtils.PawnWork>Work Priorities</TKUtils.PawnWork>
    <TKUtils.PawnStats>Stats</TKUtils.PawnStats>
    
    
    <!-- Notices -->
    <TKUtils.Experimental>This setting is experimental and may change, or be removed, at any time.</TKUtils.Experimental>
    
    
    <!-- General Tab -->
    <!-- Emoji Group -->
    <TKUtils.Emojis.Label>Use emojis in some commands.</TKUtils.Emojis.Label>
    <TKUtils.Emojis.Description>Emojis are used in place of text to help provide quick, easy, and compact information in dense commands, such as &lt;i&gt;!mypawnhealth&lt;/i&gt;.</TKUtils.Emojis.Description>
    
    <!-- Viewer Group -->
    <TKUtils.HairColor.Label>Dye viewer's hair color to match their chat color.</TKUtils.HairColor.Label>
    <TKUtils.HairColor.Description>Twitch Toolkit, by default, dyes their pawn's hair color to match the color their username is. This setting allows you to disable this functionality in-case your viewers want a specific hair color.</TKUtils.HairColor.Description>
    
    
    <!-- Data Tab -->
    <!-- Toolkit Data Group -->
    <TKUtils.DumpStyle.Label>Json output style</TKUtils.DumpStyle.Label>
    <TKUtils.DumpStyle.Description>How ToolkitUtils will store its data. When single file is selected, all data will be merged into one massive file originally known as &lt;i&gt;ShopExt.json&lt;/i&gt;. When multi-file is selected, all data will be stored in separate files for every unique set of data.</TKUtils.DumpStyle.Description>
    <TKUtils.DumpStyle.SingleFile>Single file</TKUtils.DumpStyle.SingleFile>
    <TKUtils.DumpStyle.MultiFile>Multi-file</TKUtils.DumpStyle.MultiFile>
    
    <TKUtils.OffloadShop.Label>Offload saving shop data to a separate thread.</TKUtils.OffloadShop.Label>
    <TKUtils.OffloadShop.Description>By default, all data is saved on the game's thread. As a result, this tends to block the game's thread when large amounts of data needs to be written to disk. Enabling this setting instructs the mod to save all data using a separate thread.</TKUtils.OffloadShop.Description>
    
    <!-- Item Store Processing Group -->
    <TKUtils.StoreRate.Label>The number of items the store will process per tick.</TKUtils.StoreRate.Label>
    <TKUtils.StoreRate.Description>With a previous update, Utils made Toolkit's store immediately visible. Utils runs a background task to ensure the store is up-to-date with the latest items in the game. This setting changes how many items it will process per tick until complete.</TKUtils.StoreRate.Description>
    
    <!-- Command Tweaks Tab -->
    <!-- Balance Command Group -->
    <TKUtils.CoinRate.Label>Show a viewer's calculated coin rate in the balance command.</TKUtils.CoinRate.Label>
    <TKUtils.CoinRate.Description>When enabled, the balance command will include the viewer's income per coin reward cycle.</TKUtils.CoinRate.Description>
    
    <!-- Command Handler Group -->
    <TKUtils.CommandParser.Label>Use Utils' flavor of command handling.</TKUtils.CommandParser.Label>
    <TKUtils.CommandParser.Description>Older users would remember this as its command parser.</TKUtils.CommandParser.Description>
    
    <TKUtils.CommandPrefix.Label>Command prefix</TKUtils.CommandPrefix.Label>
    <TKUtils.CommandPrefix.Description>The prefix to use for all Twitch Toolkit commands.\nPrefixes cannot start with a:\n - /\n - .\n - contain spaces</TKUtils.CommandPrefix.Description>
    
    <TKUtils.ToolkitStyleCommands.Label>Locate commands similar to how Twitch Toolkit does.</TKUtils.ToolkitStyleCommands.Label>
    <TKUtils.ToolkitStyleCommands.Description>Twitch Toolkit compares commands by checking to see if a message starts with a command, while ToolkitUtils checks to see if the first "word" is a command. If this is enabled, ToolkitUtils will mimic the old behavior, with the exception of case insensitivity. TL;DR: this lets !balloon be a valid form of the !bal command.</TKUtils.ToolkitStyleCommands.Description>
    
    <!-- Installed Mods Command Group -->
    <TKUtils.DecorateUtils.Label>Add a little star beside Utils in the mod list command.</TKUtils.DecorateUtils.Label>
    <TKUtils.DecorateUtils.Description>because why not?</TKUtils.DecorateUtils.Description>
    
    <TKUtils.VersionedModList.Label>Include mod versions in the mod list command.</TKUtils.VersionedModList.Label>
    <TKUtils.VersionedModList.Description>Inserts mod versions, if Utils could find one, into the &lt;i&gt;!installedmods&lt;/i&gt; command's output.</TKUtils.VersionedModList.Description>
    
    <!-- Item Purchases Group -->
    <TKUtils.BuyItemBalance.Label>Show a viewer's remaining balance after buying an item.</TKUtils.BuyItemBalance.Label>
    <TKUtils.BuyItemBalance.Description>Inserts the viewer's new balance after successfully buying an item. This does not work when the "confirmation messages" setting is disabled in Twitch Toolkit.</TKUtils.BuyItemBalance.Description>
    
    <!-- Lookup Command Group -->
    <TKUtils.LookupLimit.Label>Maximum number of results in the lookup command.</TKUtils.LookupLimit.Label>
    <TKUtils.LookupLimit.Description>The maximum number of results that can be displayed in the &lt;i&gt;!lookup&lt;/i&gt; command. Setting this to higher values may result in walls of text if a viewer uses with broad terms.</TKUtils.LookupLimit.Description>
    
    <!-- Pawn Purchases Group -->
    <TKUtils.PawnKind.Label>Allow viewers to specify their pawn's kind when buying.</TKUtils.PawnKind.Label>
    <TKUtils.PawnKind.Description>Completely disables the ability to specify a viewer's pawn kind when purchasing a pawn. Any pawn purchases will default to Human, even if it's disabled in the pawn kind config.</TKUtils.PawnKind.Description>
    
    
    <!-- Pawn Commands Tab -->
    <!-- Leave Command Group -->
    <TKUtils.Abandon.Method.Label>How pawns should leave when the leave command is invoked.</TKUtils.Abandon.Method.Label>
    <TKUtils.Abandon.Method.Description>The type of leave method that'll be used when a viewer uses the &lt;i&gt;!leave&lt;/i&gt; command. The "Mental break" method will force the colonist to leave the colony, while the "Thanos" method will turn the colonist to dust.</TKUtils.Abandon.Method.Description>
    <TKUtils.Abandon.Method.Thanos>Thanos</TKUtils.Abandon.Method.Thanos>
    <TKUtils.Abandon.Method.MentalBreak>Mental break</TKUtils.Abandon.Method.MentalBreak>
    <TKUtils.Abandon.Gear.Label>Colonists that leave by the leave command drop their inventory.</TKUtils.Abandon.Gear.Label>
    <TKUtils.Abandon.Gear.Description>If a viewer chooses to leave the colony via the &lt;i&gt;!leave&lt;/i&gt; command, the mod will strip their equipment before they depart.</TKUtils.Abandon.Gear.Description>
    
    <!-- Pawn Gear Command Group -->
    <TKUtils.PawnGear.Temperature.Label>Show temperature information in the pawn gear command.</TKUtils.PawnGear.Temperature.Label>
    <TKUtils.PawnGear.Temperature.Description>Include a pawn's temperature tolerance range in the &lt;i&gt;!mypawngear&lt;/i&gt; command. Enabling this removes temperature information from &lt;i&gt;!mypawnbody&lt;/i&gt;.</TKUtils.PawnGear.Temperature.Description>
    <TKUtils.PawnGear.Apparel.Label>Show currently equipped apparel in the pawn gear command.</TKUtils.PawnGear.Apparel.Label>
    <TKUtils.PawnGear.Apparel.Description>Include a pawn's current apparel in the &lt;i&gt;!mypawngear&lt;/i&gt; command.</TKUtils.PawnGear.Apparel.Description>
    <TKUtils.PawnGear.Armor.Label>Show armor values in the pawn gear command.</TKUtils.PawnGear.Armor.Label>
    <TKUtils.PawnGear.Armor.Description>Include armor protection values in the &lt;i&gt;!mypawngear&lt;/i&gt; command.</TKUtils.PawnGear.Armor.Description>
    <TKUtils.PawnGear.Weapon.Label>Show currently equipped weapon in the pawn gear command.</TKUtils.PawnGear.Weapon.Label>
    <TKUtils.PawnGear.Weapon.Description>Includes the weapon a pawn is currently equipped with in the &lt;i&gt;!mypawngear&lt;/i&gt; command.</TKUtils.PawnGear.Weapon.Description>
    
    <!-- Pawn Health Command Group -->
    <TKUtils.PawnHealth.Surgeries.Label>Show queued surgeries in the pawn health command.</TKUtils.PawnHealth.Surgeries.Label>
    <TKUtils.PawnHealth.Surgeries.Description>Includes currently queued surgeries in the &lt;i&gt;!mypawnhealth&lt;/i&gt; command.</TKUtils.PawnHealth.Surgeries.Description>
    
    <!-- Pawn Relations Command Group -->
    <TKUtils.PawnRelations.OpinionThreshold.Label>Minimum opinion</TKUtils.PawnRelations.OpinionThreshold.Label>
    <TKUtils.PawnRelations.OpinionThreshold.Description>The minimum opinion a pawn has to have of another before they'll show up in the command. The value will be used for both the negative (absolute) and positive opinion values</TKUtils.PawnRelations.OpinionThreshold.Description>
    
    <!-- Pawn Work Command Group -->
    <TKUtils.PawnWork.Sort.Label>Sort work priorities in the pawn work command.</TKUtils.PawnWork.Sort.Label>
    <TKUtils.PawnWork.Sort.Description>If enabled, work priorities will be sorted like the Work tab in the &lt;i&gt;!mypawnwork&lt;/i&gt; command. This means work will be displayed as the Work tab from left to right.</TKUtils.PawnWork.Sort.Description>
    <TKUtils.PawnWork.Filter.Label>Filter work priorities in the pawn work command.</TKUtils.PawnWork.Filter.Label>
    <TKUtils.PawnWork.Filter.Description>If enabled, disabled work priorities will be removed from the &lt;i&gt;!mypawnwork&lt;/i&gt; command's output. This means work priorities a pawn is incapable of doing, or is not assigned to, will be omitted from the command's response.</TKUtils.PawnWork.Filter.Description>
</LanguageData>
